@using ContestGenerator.Models.Contest;
@using ContestGenerator.Models.Viewmodels
@model Response

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <title>Заявка @Model.Id</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>
    <main class="flex justify-center overflow-auto h-full"
          style="background: no-repeat top center, linear-gradient(#070A0C, #18153A);">
        @if (Model.Contest.Criterias != null && Model.Contest.Criterias.Any())
        {
            <div class="w-1/4 container flex flex-col h-full mx-3">
                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 flex-1">
                    <h2 class="mb-4 text-2xl font-semibold text-center">Оценить заявку</h2>
                </div>
            </div>
        }
        <div class="container flex flex-col h-full mx-3">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 flex-1">
                <h2 class="mb-4 text-2xl font-semibold">Заявка @Model.Id</h2>
                @foreach (var field in Model.Responses)
                {
                    <div class="flex flex-wrap px-3 -mx-3 mb-2 text-left break-all">
                        <label class="block text-gray-700 text-lg font-bold mr-2">
                            @field.Name:
                        </label>
                        <label class="block text-gray-700 text-lg font-normal">
                            @field.Value
                        </label>
                    </div>
                }
            </div>
        </div>
        @if (Model.Contest.Criterias != null && Model.Contest.Criterias.Any())
        {
            <div class="w-1/4 container flex flex-col h-full mx-3">
                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 flex-1">
                    <h2 class="mb-4 text-2xl font-semibold text-center">Оценки других жюри</h2>
                </div>
            </div>
        }
    </main>
    <!--Main layout-->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>